.centeredView {
    flex: 1;
    padding-top: 80px;
    align-items: center;
    margin-top: 22px;
}

.modalView {
    width: 100%;
    height: 100%;
    background-color: #E9F4DF;
    border-radius: 30px;
    padding: 30px;
    align-items: center;
}

.modalTitle {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.modalFormulaName {
    height: 50px;
    width: 250px;
    font-size: 22px;
    font-weight: 600;
    background-color: #E9F4DF;
}

.textStyle {
    color: white;
    font-weight: bold;
    text-align: center;
}

.buttonClose {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #92C46D;
}

.separator {
    margin-top: 20px;
    width: 100%;
    border: 0.5px solid #92C46D;
}

.constructorContainer {
    align-items: center;
    margin: 40px 0;
}

.constructorKeyboard {
    width: 100%;
    flex-wrap: wrap;
}

.constructorKeyboard_line {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.constructorKeyboardButton_small {
    align-items: center;
    justify-content: center;
    flex-basis: 55px;

    min-width: 22%;
    height: 60px;
    
    background-color: #fff;
    border-radius: 10px;
}

.constructorKeyboardButton_large {
    align-items: center;
    justify-content: center;
    flex-basis: 60px;

    min-width: 47%;
    height: 60px;
    
    background-color: #fff;
    border-radius: 10px;
}

.keyboardButtonText {
    font-size: 18px;
    font-weight: 500;
}

.numpadKeyboard {
    width: 100%;
    flex-direction: column;
}

.numpadActivate {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}